build*/
*~
/libs/*
*.obj
cygwin/**/Debug/
cygwin/**/Release/
cygwin/**/Debug.*/
cygwin/**/Release.*/
teraterm/**/Debug/
teraterm/**/Release/
teraterm/**/Debug.*/
teraterm/**/Release.*/
ttpmenu/**/Debug/
ttpmenu/**/Release/
ttpmenu/**/Debug.*/
ttpmenu/**/Release.*/
TTProxy/**/Debug/
TTProxy/**/Release/
TTProxy/**/Debug.*/
TTProxy/**/Release.*/
ttssh2/**/Debug/
ttssh2/**/Release/
ttssh2/**/Debug.*/
ttssh2/**/Release.*/
TTXKanjiMenu/**/Debug/
TTXKanjiMenu/**/Release/
TTXKanjiMenu/**/Debug.*/
TTXKanjiMenu/**/Release.*/
TTXSamples/**/Debug/
TTXSamples/**/Release/
TTXSamples/**/Debug.*/
TTXSamples/**/Release.*/
**/.vs/
*.aps
/GTAGS
/GPATH
/GRTAGS
*.ncb
*.suo
*.user
*.map
/gtags.files
*.bak
