body { 
	margin: 5ex;
	background: rgb(255, 255, 240);
	font-family: "MS US Gothic";
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
}

.center {
	text-align: center;
}

div.topic {
	font-weight: bold;
	font-size: large;
	margin-top: 2ex;
	margin-bottom: 2pt;
}

.qanda {
	font-weight: bold;
}

.syntax {
	font-weight: bold;
	white-space: nowrap;
}

pre.syntax {
	font-weight: bold;
	white-space: pre;
}

font.new {
	font-weight: bold;
	font-size: smaller;
	color: teal;
}

ul {
	margin-top: 0pt;
	margin-bottom: 0pt; 
}

dt {
	font-weight: bold;
	font-style: normal;
	border-color: #FFCC33;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-width: 0px 0px 1px 0px;
}

li.description{
    margin-bottom: 1ex;
}

ul.history {
	margin-bottom: 1em;
}

.no-marker {
	list-style-type: none;
}

.indent1 {
    margin-left: 2em;
}

pre {
	white-space: pre;
	background: #ffffff;
	padding: .5ex;
}

.warning {
	color: #ff0000;
}

.notice {
	color: #0000ff;
}

img {
	border: 0px;
}

.img {
	margin: 1ex;
}

.code {
	font-family: Courier;
	color: #0000ff;
}

.variable {
	font-weight: 900;
	color: #0000ff;
}

pre.macro-syntax {
	font-weight: bold;
	margin-left: 1em;
}

pre.macro-example {
	margin-left: 1em;
	background-color: #fff088;
}

th {
	text-align: left;
}

/*
td code.syntax {
	margin-right: 2em;
}
*/

th + th, th + td, td + td {
	padding-left: 2em;
}
