img {
	border: 0px;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

th {
	color: #ffffff;
	background-color: #333333;
}

/*
p {
	text-indent: 1em;
}
*/

img.atmark {
	height: 0.9em;
	width: 0.9em;
	margin: 0 1px;
	border: none 0;
	vertical-align: middle;
}

nav {
	width: 100%;
	background-color: #333333;
}

ul.menu {
	display: flex;
	list-style: none;
}

a.menu {
	display: block;
	text-decoration: none;
	color: white;
	margin-right: 16px;
}

a.menu:hover{
	color: #ffffff;
	background-color: #505050;
	text-decoration: underline;
}

.headder_box{
	width: 100%;
	display: flex;
}

a{
	color: #0000ff;
}

a:hover{
	color: #000080;
	text-decoration: underline;
}

table.header {
	width: 100%;
}
