[{cipher-chachapoly-libcrypto.c,ed25519.c,ed25519_bcrypt_pbkdf.c,ed25519_blowfish.c,ed25519_fe25519.c,ed25519_ge25519.c,ssherr.c,arc4random.h,chacha.h,cipher-chachapoly.h,ed25519_blf.h,ed25519_fe25519.h,hostkey.h,mac.h,poly1305.h,ssherr.h}]
end_of_line = lf
