[BG]

; Advanced Setting
; Image source setting
; Type      : Color / Picture / Wallpaper
: Pattern   : Stretch / Tile / Center / FitWidth / FitHeight / AutoFit
; AntiAlias : On / Off
; Color     : R,G,B (0-255)
; Alpha     : 0-255
; File      : wildcard => random select

; Dest = (Src1  * Src1Alpha + Dest * (255 - Src1Alpha)) / 255
; Dest = (Src2  * Src2Alpha + Dest * (255 - Src2Alpha)) / 255

BGReverseTextAlpha = 192

BGDestType      = Picture
BGDestFile      = tile\*.bmp
BGDestPattern   = Tile
BGDestAntiAlias = On
BGDestColor     = 0,0,0

BGSrc1Type      = Wallpaper
BGSrc1File      = 
BGSrc1Pattern   = 
BGSrc1AntiAlias = 
BGSrc1Color     = 
BGSrc1Alpha     = 100

BGSrc2Type      = Color
BGSrc2File      = 
BGSrc2Pattern   = 
BGSrc2AntiAlias = 
BGSrc2Color     = 32,32,32
BGSrc2Alpha     = 64
